ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu {
  cursor: pointer;
}

.sidebar {
  position: relative; /*  親要素に対して相対的に配置  */
  width: 200px; /* サイドバーの幅 */
  background-color: #f1f1f1; /* 背景色 */
}

.sidebar li {
  padding: 10px 15px;
  cursor: pointer;
}

.sidebar li ul li:hover {
  background-color: #e0e0e0;
}

.submenu {
  position: absolute;
  top: 100%;
  left: 0;
  display: none;
  background-color: #f1f1f1;
}

.menu:hover .submenu {
  display: block;
}
